.footer {
  min-height: 30px;
  background: white;
  position: sticky;
  text-align: center;
  margin-top: 10px;
}

.footer span {
  position: sticky;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 3px;
  background: white;
}

